<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Menu</title>
    <link rel="stylesheet" href="/css/user-menu.css"> <!-- Link to your CSS file -->
</head>
<body class="home">
<!-- Navbar with horizontal buttons -->
<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/api/car/get-selling-cars">Buy cars</a></li>
        <li><a href="/api/car/create-car">Create car</a></li>
        <li><a href="/api/user/user-profile">My Profile</a></li>
        <li><a href="/api/car/show-car-by-id">My Cars</a></li>
        <li><a href="/transactions">My Transactions</a></li>
        <li><a href="/api/user/add-balance">My balance</a></li>
    </ul>
    <a href="/" class="back-btn">Back to Login</a> <!-- Back button -->
</nav>
</body>
</html>
