/* styles.css */
body {
    background-image: url('../photo/2875b8f6b84c5ccbffe2e6d817e5fd03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}
