/* styles.css */
body {
    background-image: url('../photo/ace89e5059f1a5104265ae7a7ed01ad3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}
